<h2 class="text-center">SmartBulk</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "User name" %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (" + @minimum_password_length.to_s + " characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Create your account", class: "button" %>
  </div>
<% end %>

<p class="or-border">or</p>

<%= render "devise/shared/links" %>
