<% hst_weight = [] %>
<% hst_bodyFatPer = [] %>
<% hst_date = [] %>
<% hst_weight_per = [] %>
<% hst_bodyFatPer_per = [] %>
<% hst_weight, hst_bodyFatPer, hst_date, hst_weight_per, hst_bodyFatPer_per =  get_history_dat %>

<table class="unstriped">
  <tr>
    <th class="text-center">Date</th>
    <th class="text-center">Weight</th>
    <th class="text-center">Change</th>
    <th class="text-center">Body fat Percentage</th>
    <th class="text-center">Change</th>
  </tr>
  <% hst_weight.count.times do |i| %>
    <tr>
      <td class="text-center"><%= hst_date[i] %></td>
      <td class="text-center"><%= hst_weight[i] %><small>kg</small></td>
      <td class="text-center"><%= hst_weight_per[i].nil? ? "-" : sprintf("%+.1f",hst_weight_per[i]) %></td>
      <td class="text-center"><%= hst_bodyFatPer[i] %><small>%</small></td>
      <td class="text-center"><%= hst_bodyFatPer_per[i].nil? ? "-" : sprintf("%+.1f",hst_bodyFatPer_per[i]) %></td>
    </tr>
  <% end %>
</table>