<h2 class="text-center">SmartBulk</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>


  <div class="grid-x grid-margin-x">
    <div class="cell small-6">
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
    <div class="cell small-6">
      <%= f.submit "Log in" , class: "button" %>
    </div>
  </div>
<% end %>

<p class="or-border">or</p>
<%= render "devise/shared/links" %>
