<!DOCTYPE html>
<html>
  <head>
    <title>Smartbulk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>
    <% if request.path != "/users/sign_up" && request.path != "/users/sign_in" %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <div class="grid-container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
